name: CI

on: [push, pull_request]

jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'pnpm'
            - run: pnpm install
            - run: pnpm build
            - run: pnpm lint
    e2e:
        runs-on: ubuntu-latest
        container:
            image: mcr.microsoft.com/playwright:v1.56.1-noble
            options: --user 1001
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'pnpm'
            - run: cp .env.development .env
            - run: pnpm install
            - run: pnpm exec playwright test
            - uses: actions/upload-artifact@v4
              if: ${{ !cancelled() && failure() }}
              with:
                  name: test-results
                  path: test-results/
                  retention-days: 30
    deploy:
        if: github.ref == 'refs/heads/main'
        runs-on: ubuntu-latest
        needs: [ci, e2e]
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 10
                  run_install: false
            - uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'pnpm'
            - run: cp .env.development .env
            - run: pnpm install
            - run: pnpm run deploy
